@charset "utf-8";
/* CSS Document */

html, body, ul, ol, li, dl, dt, dd, p, h1, h2, h3, h4, h5, h6, form, table, td, div , img {
  margin:0;
  padding:0;
}
body {
	background: #f0fbff url(../images/body_bg.png) repeat-x;
	margin:0;
	padding:0;
	color:#118532;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
} 
img {
	border:0;
}
form {
	margin:0;
	padding:0;
}
h1 {
	font-size:18px;
	font-weight:bold;	
	margin:0;
	padding:0;
}
h2 {
	font-size:14px;
	font-weight:bold;	
	margin:0;
	padding:0;
}
a, input, textarea {	
	outline:none;
}
a {
  color: #4A8ADB;
}
textarea {
  resize: none;
}
.clear {
  clear: both;
  height: 0;
}
#wrap {
  width: 1000px;
  margin: 0 auto;
}
#header {
  width: 1000px;
  height: 122px;
}
#header a.logo {
  display: block;
  width: 264px;
  height: 117px;
  float: left;
}
#header .leftBoxHeader {
  float: left;
  font-family: Impact, Arial, Tahoma, sans-serif;
  text-shadow: 1px 1px 0 #005449;
  color: #fff;
  font-size: 58px;
  padding: 0 0 0 37px;
  text-align: center;
  line-height: 66px;
}
#content {
  width: 1000px;
  overflow: hidden;
}
#content .videoBox {
  background: #fff;
  width: 630px;
  height: 354px;
  float: left;
  box-shadow: 0 0 4px #a9a9a9;
  -webkit-box-shadow: 0 0 4px #a9a9a9;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: 10px 0 0 10px;
  padding: 3px;
}
#content .formWrap {
  float: left;
  margin: 10px 0 0 18px;
  width: 325px;
  height: 358px;
  background: #fffee9;
  border: 1px solid #026d5f;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  background:url(../images/trn.png) no-repeat bottom;
}
#content .formWrap h4 {
  color: #007a6a;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  padding: 15px 0 0 0;
}
#content .formWrap h1 {
  color: #f85519;
  font-size: 43px;
  font-weight: bold;
  text-align: center;  
  line-height: 35px;
  margin: 0;
}
#content .formWrap h3 {
  color: #f85519;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  line-height:34px;
}
#content .formWrap .formWrapInner {
  margin: 12px auto 0;
  padding: 0;
}
#content .formWrap .formWrapInner input {
  border: 1px solid #026d5f;
  padding: 10px 5px;
  font-size: 18px;
  border-radius: 5px;
  color: #686868;
  margin: 10px 46px;
  width: 220px;
}
#content .formWrap .formWrapInner input.submit_form_op {
  width: 224px;
  height: 66px;
  display: block;
  border: none;
  padding: 0;
  margin: 10px auto 10px;
}
#content h1.title {
  color: #f85519;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  margin: 10px 0 0 0;
}
#content h1.title span {
  font-size: 29px;  
}
#content .wrapIconBox {  
  width: 980px;
  background: #fffee9;
  border: 1px solid #026d5f;
  border-radius: 5px;
  -webkit-border-radius: 5px;  
  margin: 15px auto 30px;
}
#content .wrapIconBox img {
  display: block;
  margin: 0 auto;
}
#content .wrapIconBox ul {
  padding: 0;
  margin: 0;
}
#content .wrapIconBox ul li {
  list-style: none;
  display: inline;
  font-size: 14px;
  margin: 0 9px;
}
*+html #content .wrapIconBox ul li {
  margin: 0 8px;
}
#content .wrapIconBox ul.list {
  padding: 10px 0 0 0;
  margin: 0;
}
#content .wrapIconBox ul.list li {
  list-style: none;
  display: inline;
  font-size: 14px;
  margin: 0 18px;
}
*+html #content .wrapIconBox ul.list li {
  margin: 0 17px;
}
#content .wrapIconBox ul.bottomList {
  text-align: center;
  padding: 10px 0;
  margin: 0;
}
#content .wrapIconBox ul.bottomList li {
  font-size: 19px;
  font-weight: bold;
}
#content .wrapIcon a {
  color: #118532;
  font-size: 14px;
  text-decoration: none;
}
#content .wrapIcon a:hover {
  text-decoration: underline;
}
#content .wrapIconBot {
  text-align: center;
  float: left;
  margin: 0 23px;
  color: #118532;
  font-size: 14px;
}
#content .wrapIconBot a {
  color: #118532;
  font-size: 14px;
  text-decoration: none;
}
#content .wrapIconBot a:hover {
  text-decoration: underline;
}
.border {
  border-top: 1px solid #4fb06b;
  width: 930px;
  margin: 10px auto;
}
#content .wrapIconBot img {
  margin-bottom: 15px;
}
#footer {
  color: #f85519;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 0 #ffbba2;
  padding: 20px 0;
}
.bottom {
  background: url(../images/bottom.png) no-repeat;
  width: 986px;
  height: 13px;
  margin-bottom: 20px;
}
.new {
	font-size:24px;
	color: #030;
	text-align:center;
	font-weight:bold;
}