/* CSS Document */

.txt-white {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ede8e8; padding-left:5px; text-align:justify; padding-right:5px;
    }
.bodytxt {font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px; 
	padding-left:20px; 
	padding-right:15px; text-align:left; color:#000000; text-align:justify
	}
	
.bodytxt2 {font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px; 
	text-align:left; color:#000000; text-align:justify;
	padding-left:60px; padding-right:60px; font-weight:bold
	}
.bodytxt-new {font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px; 
	text-align:left; color:#000000; text-align:justify;
	padding-left:30px; padding-right:30px; font-weight:bold
	}
	
.bodytxt3 {font-family: Arial, Helvetica, sans-serif;
	font-size: 20px; 
	padding-left:30px; 
	padding-right:30px; text-align:left; color:#000; text-align:justify; font-weight:bold
	}
	
.innertext {font-family: Verdana, Arial, Helvetica, sans-serif; padding-left: 12px; padding-right: 15px; font-size: 11px; font-weight:bold; color: #333333; text-align:justify }
.matrixtext {font-family: Verdana, Arial, Helvetica, sans-serif; padding-left: 12px; padding-right: 15px; font-size: 11px; font-weight:bold; color: #333333; text-align:justify }

.innertext2 {font-family: Verdana, Arial, Helvetica, sans-serif;  font-size: 10px; color: #000000; }
.testi {font-family: Verdana, Arial, Helvetica, sans-serif; padding-left: 15px; padding-right: 15px; font-size: 10px; color: #333333; }

.mainlink {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#ffffff;  text-decoration:none; padding-right:10px; padding-left:20px; font-weight:bold}

.news {font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10px;
color: #CCCCCC; padding-left:10px; 
	padding-right:25px; 
   }

.heading {font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; 
	font-weight:bold; 
	color:#333333; line-height:21px;
	padding-left:20px;  
	}
.heading2 {font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px; 
	font-weight:bold; 
	color: #ffffff;   
	}
header-wrap { 
		 width:1000px; 
		 height:314px;
		 
		}
	
.video { width:544px; 
		 height:314px;
		 margin-left:84px; 
		 padding-top:9px;
		 float:left; 
		 display: inline; 
		 
	}
	
.form { width:450px; 
		 height:314px;
		 
		 padding-top:9px; float:left; 
		 display: inline; 
		 
	}
		

.head{font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; 
	font-weight:bold; 
	color:#990000;
		padding-left:65px;
	padding-right:65px; 
	 
	}
.head3{font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px; 
	font-weight:bold; 
	color:#fff;
	padding-left:25px;
	padding-right:20px;
	}
	
.head4{font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px; 
	font-weight:bold; 
	color:#990000;

}

.head5{font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px; 
	font-weight:bold; 
	color:#000000;

}
	
.head2{font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px; 
	font-weight:bold; 
	color:#33333;

	  
	}
	
.slogan{font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px; 
	font-weight:bold; 
	
	}
	
	
.footer {font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px; color:#ffffff;
	}
	
.italics {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	font-style: italic;
    }

body {
	background-color: #ffffff;
    }


a{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#1A3445;  text-decoration:none}

a:link { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#1A3445;  text-decoration:none}

a:hover { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color: #990000;  text-decoration:underline}

#blink:a{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#ffffff;  text-decoration:none}

#home-content {}



#home-content div.video {

	float: left;

	display: inline;

	margin-left: 84px;

	width: 530px;

	height: 300px;

	margin-top: 1px;

}



#home-content div.optin {

	float: left;

	display: inline;

	width: 322px;
	
	margin-top: 10px;
	margin-left: -20px;

}



#home-content div.optin div.bg {

	
	background-image:url(../images/globe.png);
	background-repeat:no-repeat;
	height:320px;


	padding: 8px;

}



#home-content div.optin h1 {

	margin-bottom: 2px !important;
	margin-left:-15px;
	padding: 0 !important;

}



#home-content div.optin div.item {

	margin-bottom: 10px;

}



#home-content div.optin input#firstname,

#home-content div.optin input#email {

	width: 350px;

	padding: 4px 4px;
	margin-left:-15px;
	border:1px #000000 solid;
	
	

}

/* CSS Document */

.txt-white {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ede8e8; padding-left:5px; text-align:justify; padding-right:5px;
    }
.bodytxt {font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px; 
	padding-left:20px; 
	padding-right:15px; text-align:left; color:#000000; text-align:justify
	}
.bodytxt2 {font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px; 
	text-align:left; color:#000000; text-align:justify;
	padding-left:60px; padding-right:60px; font-weight:bold
	}
.bodytxt-new {font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px; 
	text-align:left; color:#000000; text-align:justify;
	padding-left:30px; padding-right:30px; font-weight:bold
	}
.matrixtext {font-family: Verdana, Arial, Helvetica, sans-serif; padding-left: 12px; padding-right: 15px; font-size: 11px; font-weight:bold; color: #333333; text-align:justify }
.innertext {font-family: Verdana, Arial, Helvetica, sans-serif; padding-left: 12px; padding-right: 15px; font-size: 11px; font-weight:bold; color: #333333; text-align:justify }

.innertext2 {font-family: Verdana, Arial, Helvetica, sans-serif;  font-size: 10px; color: #000000; }
.testi {font-family: Verdana, Arial, Helvetica, sans-serif; padding-left: 15px; padding-right: 15px; font-size: 10px; color: #333333; }

.mainlink {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#ffffff;  text-decoration:none; padding-right:10px; padding-left:20px; font-weight:bold}

.news {font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10px;
color: #CCCCCC; padding-left:10px; 
	padding-right:25px; 
   }

.heading {font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; 
	font-weight:bold; 
	color:#333333; line-height:21px;
	padding-left:20px;  
	}
.heading2 {font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px; 
	font-weight:bold; 
	color: #ffffff;   
	}
header-wrap { 
		 width:1000px; 
		 height:314px;
		 
		}
	
.video { width:544px; 
		 height:314px;
		 margin-left:84px; 
		 padding-top:9px;
		 float:left; 
		 display: inline; 
		 
	}
	
.form { width:450px; 
		 height:314px;
		 
		 padding-top:9px; float:left; 
		 display: inline; 
		 
	}
		

.slogan{font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 36px; 
	font-weight:bold; 
	color:#000000;  
	}
	
.footer {font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px; color:#ffffff;
	}
	
.italics {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	font-style: italic;
    }


a{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#1A3445;  text-decoration:none}

a:link { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#1A3445;  text-decoration:none}

a:hover { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color: #990000;  text-decoration:underline}

.belchertxt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	color: #003366;
	font-weight:bold;
	}
.belcherlink{
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	color: #0033FF;
	font-weight:500;
	
	}	

#home-content {}



#home-content div.video {

	float: left;

	display: inline;

	margin-left: 84px;

	width: 530px;

	height: 300px;

	margin-top: 1px;

}



#home-content div.optin {

	float: left;

	display: inline;

	width: 322px;
	
	margin-top: 10px;
	margin-left: -20px;

}



#home-content div.optin div.bg {

	
	background-image:url(../images/globe.png);
	background-repeat:no-repeat;
	height:320px;


	padding: 8px;

}



#home-content div.optin h1 {

	margin-bottom: 2px !important;
	margin-left:-15px;
	padding: 0 !important;

}



#home-content div.optin div.item {

	margin-bottom: 10px;

}



#home-content div.optin input#firstname,

#home-content div.optin input#email {

	width: 350px;

	padding: 4px 4px;
	margin-left:-15px;
	border:1px #000000 solid;
	
	

}

.boxWhite_top {
	background:url("../images/boxWhite_top.png") no-repeat;
	width:1000px;
	height:27px;	
}

.boxWhite_bg {
	background:url("../images/boxWhite_bg.png") repeat-y;
	width:1000px;	
}

.boxWhite_bg img {
	margin:0 auto;
	display:block;
}

.boxWhite_bot {
	background:url("../images/boxWhite_bot.png") no-repeat;
	width:1000px;
	height:30px;
	margin:0 auto;
}

.launchBox_top {
	background:url("../images/launchBox_top.png") no-repeat;
	width:810px;
	height:23px;
	margin:0 auto;	
}

.launchBox_bg {
	background:url("../images/launchBox_bg.png") repeat-y;
	width:810px;	
	margin:0 auto;	
}

.launchBox_bot {
	background:url("../images/launchBox_bot.png") no-repeat;
	width:810px;
	height:27px;
	margin:0 auto;
}

.launchBox {
	background:url("../images/launchBox.png") no-repeat;
	width:810px;
	height:364px;
	margin:0 auto;
	padding:20px 0 0 0;
	margin-top:20px;
}

.bgTop {
	background:#212121;
	height:100px;
	text-align:center;
}

.bgTop img {
	padding-top:20px;
}

.bgCenter {
	background:url("../images/vidBg.jpg") repeat-x;
	height:353px;
	position:relative;
}

.input {
	font-size:14px;
	width:200px;
}

.formLaunch {
	margin-bottom:15px;
	margin-top:20px;
}

.button {
	background:url("../images/button.png") no-repeat;
	width:200px;
	height:27px;
	margin:0 auto;
}

*+html .tweet {
	margin-left:-410px;
}

.tweet {
	position:absolute;
	margin-left:87px;
	margin-top:-25px;
	border: 0;
}

*+html .reflection {
	margin-left:-140px;
}

*+html .refIE {
	border: 1px solid #f00;
	margin-bottom: -50px;
}

.reflection {
	position: absolute;
	margin-top: 70px;
}

.invisible{
  display: none !important;
}
.inputSubs {
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px 8px;
	color: #646464;
	width: 223px;
	margin: 0 auto 5px;
	border-radius: 2px;
	border: 0;
}
h2.titleGreen {
    color: #107702;
    font-size: 20px;
    font-weight: bold;
    padding: 0 30px 10px;
		margin-top: 0;
}
.affiliates_main {
	font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.affiliates_main p {
	padding: 0 30px;
}
h1.titleAffilites {
    background: url("../images/tetle_bg_arrow.png") no-repeat scroll 0 0 transparent;
    color: #339E0E;
    font-size: 20px;
    font-weight: normal;
    height: 40px;
    padding: 16px 30px 0 60px;
		margin-left: 30px;
    text-shadow: -1px 0 #036000, 0 1px #036000, 1px 0 #036000, 0 -1px #036000;
		text-align: left;
}
p.affPadp {
    padding-left: 90px;
}
ul.bottom_list_aff {
    list-style: none outside none;
    margin: 0 auto;
    padding-top: 25px;
    width: 800px;
}
ul.bottom_list_aff li {
    color: #322922;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
    padding: 8px 0 0 42px;
}
ul.bottom_list_aff li.one {
    background: url("../images/one.png") no-repeat scroll 0 0 transparent;
    height: 32px;
}
ul.bottom_list_aff li.two {
    background: url("../images/two.png") no-repeat scroll 0 0 transparent;
    height: 32px;
}
h1.bottomTitle {
    color: #339E0E;
    font-size: 28px;
    font-weight: normal;
    height: 40px;
    padding: 0 0 20px 60px;
    text-align: center;
    text-shadow: -1px 0 #036000, 0 1px #036000, 1px 0 #036000, 0 -1px #036000;
}